name: On pull request

on:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'dashboard/*'
      - 'examples/*'
      - 'README.md'
      - 'LICENSE'
  workflow_dispatch:

env:
  PLATFORMS: "linux/amd64,linux/arm64,linux/arm/v7"
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.2'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run Tests
        run: go test -v ./...

  build_container_image:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}-development
          tags: |
            type=raw,value=dev-{{date 'X'}}
            type=raw,value=latest
            type=ref,event=branch
            type=edge,branch=main
      - name: Build 
        uses: docker/build-push-action@v6.19.2
        with:
          platforms: ${{ env.PLATFORMS }}
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false


